# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install CocoaPods and Fastlane
      run: |
        gem install cocoapods
        gem install fastlane -NV

    - name: Install Dependencies
      run: pod install

    - name: upload testflight
      # env:
      #   # FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }} # 设置环境变量
      #   # APPLE_ID: ${{ secrets.APPLE_ID }}
      #   # TEAM_ID: ${{ secrets.TEAM_ID }} # 您的Apple开发者团队ID
      #   # APP_IDENTIFIER: ${{ secrets.APP_IDENTIFIER }}
      #   # FASTLANE_PASSWORD: 2222
      run: |
        fastlane action app_store_connect_api_key
        fastlane match_all

    - name: upload testflight1
      run: fastlane release
